.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    Z-index: 200; /*make sidebar covering the header*/
    padding-bottom: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center; /*Horizantally*/
    align-items:center; /*vertically*/
    flex-direction: column; /*row: Horizantally, column: vertically*/
    cursor: pointer;
}

.sidebar-link:hover{
background-color: rgba(235,235,235);
}

.sidebar-link img{
height: 24px;
margin-bottom: 4px;
}

.sidebar-link div{
font-size: 10px;
}

@media screen and (max-width: 600px){
   .sidebar{
    width: 64px;
   }
   
   .sidebar-link img{
    height: 18px;
    }

}